<!DOCTYPE html>
<html lang="en">
<title>SIGEVA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/poppins.css">
<link rel="stylesheet" href="css/sigevaSanitario.css">

<body>
    <!-- Sidebar/menu -->
    <nav>
        <header>
         <div class="topnav w3-teal">
        	<div class="logoinicial">
        		<a data-bind="click : paginaInicio"> <img src="img/SIGEVA_LOGO_menu.png" style="width:80%"></a>
        	</div>
        	
        	<div class= "avatar dropdown" style="float:right;">
	             <button class="dropbtn w3-teal"><img src="img/men.jpg" /></button>
	             <div class="dropdown-content" >
				    <a data-bind="click : logout">Cerrar sesion</a>
				    
  				</div>
            </div>
            
            <div class="avatartexto">
	            <h2 class="usuarioiniciado" data-bind= "html : nombre"></h2>
	            <h5 class="usuarioiniciado" data-bind= "html : tipoUsuario"></h5>
	        </div>
        	 <div class= "cerrarSesion">
<!-- 	            <div class="center"> -->
<!-- 	            	<oj-button data-bind="click : logout" chroming="callToAction" style="margin-top:50px;margin-left:60px;">Cerrar Sesion</oj-button> -->
<!-- 	            </div> -->
            </div>
         </div>
         
            
            
            
        </header>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
            style="width:100%;font-size:15px">Close Menu</a>
        
              
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-indigo w3-margin-right" onclick="w3_open()">☰</a>
        
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:100px;margin-right:100px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:20px" id="showcase">
        <h1 class="w3-jumbo" data-bind= "html : centroAsignado" style="text-align:center;" ><b></b></h1>
         <h5 style="text-align:center;">Hora de inicio: <input type="time" data-bind="value : horaInicio" disabled></h5>
          <h5 style="text-align:center;">Hora de fin: <input type="time" data-bind="value : horaFin" disabled></h5>
            <h3 style="text-align:center;"><b>CITAS DE HOY</b></h3>
            <div class="scroll">
            <table class="w3-table-all w3-centered">
                <tr class="w3-teal">
                    <th>DNI Paciente</th>
                    <th>Nombre Paciente</th>
                    <th>Fecha Primera Dosis</th>
                    <th>Fecha Segunda Dosis</th>
                    <th>Primera dosis</th>
                    <th>Segunda dosis</th>
                </tr>
                <!-- ko foreach : citas -->
                <tr>
                    <td data-bind="html : dniPaciente"></td>
                    <td data-bind="html : nombreUsuario"></td>
                    <td data-bind="html : fechaPrimeraDosis"></td>
                    <td data-bind="html : fechaSegundaDosis"></td>
                    <td><input type="checkbox" name="primeraDosis" id="primeraDosis"></td>
                    <td><input type="checkbox" name="segundaDosis" id="segundaDosis"></td>
                </tr>
                <!-- /ko -->
            </table>
            <br>
            <oj-button chroming="callToAction" class="oj-button-lg" data-bind="click : actualizarDosis" style="margin-top:35px;margin-left:750px;">
                    Actualizar</oj-button>
             <br><br>
            <div>
	            	<oj-button data-bind="click : verCitasOtrosDias" chroming="callToAction" >Ver citas otros dias</oj-button>
	            </div>
              </div>
           
        </div>


        <!-- End page content -->
    </div>


   

</body>

</html>