<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/home.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="row">
		<div class="col-md-4 static">
			<div class="profile-card">
				<div">
					<h1
						style="color: #FFFFFFF; position: center; float: left; margin-left: 30px; margin-right: 400px; margin-top: 5px;">SIGEVA</h1>
					<img style="float: left;"
						src="https://bootdey.com/img/Content/avatar/avatar1.png"
						alt="user" class="profile-photo">
					<h5>
						<a href="#" style="float: left;" class="text-white">Administrador</a>
					</h5>
				</div>
			</div>
			
			
				<div div style="text-align: center;">
					<p style="font-weight: bold; margin: 10px 10px 10px;">Modificar administrador</p>
					<p>Nombre: &nbsp;&nbsp;<input type="text" data-bind="value : nombre" placeholder="Nombre"></p> 
					<p>E-mail: &nbsp;&nbsp;<input type="text" data-bind="value : email" placeholder="email"> </p>
					<br>
						<oj-button chroming="callToAction" class="oj-button-sm"
							data-bind="click : modificarAdministrador" style="margin-top:3px;">Modificar
						Administrador</oj-button>
				</div>				
			
				</div>
			</div>
		</div>
	</div>
</div>
</div>