<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/home.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="row">
		<div class="col-md-4 static">
			<div class="profile-card">
				<div>
					<h1
						style="color: #FFFFFF; position: center; float: left; margin-left: 30px; margin-right: 400px; margin-top: 5px;">SIGEVA</h1>
					<img style="float: left;"
						src=""
						alt="user" class="profile-photo">
					<h5>
						<a href="#" style="float: left;" class="text-white">Usuario</a>
					</h5>
				</div>
			</div>
			

			<div>
				<table class="table table-striped table-bordered  mt-2 table-sm" style="margin: 0 auto;" border-spacing=10px>
					<tr>
						<th>id</th>
						<th>fecha Primera Dosis</th>
						<th>fecha Primera Dosis</th>
						<th>Eliminar</th>
						<th>Modificar</th>
					</tr>
					<!-- ko foreach : citas -->
					<tr>
						<td data-bind="html : id"></td>
						<td data-bind="html : fechaPrimeraDosis"></td>
						<td data-bind="html : fechaSegundaDosis"></td>
						 
						<td><oj-button data-bind="click : function() { $parent.eliminarCita(id); }" class="oj-button-sm"><img class="iconoImg" src="css/delete.png"></oj-button></td>
						<td><button  class="oj-button-sm"><img class="iconoImg" src="css/modify.png"></button></td>
					</tr>
					<!-- /ko -->
				</table>
			
			</div>
		</div>
	</div>
</div>
</div>